/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein*
.DS_Store
pom.xml*
.repl/
out/
.nrepl-port
**/*~
**/#*#
clojurescript/
doc/
bin/
.calva/
.clj-kondo/
.lsp/
.shadow-cljs/
node_modules/
yarn.lock
